 body { 
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #333;
      padding: 2rem; max-width: 700px; margin: auto;
      font-size: 1rem;
      line-height: 1.4;
    }



h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #1a1a1a;
}

a {
    color: #0077b6;
    text-decoration: none;
}
