<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | URG.SYSTEMS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">



</head>
<body>
  <nav class="breadcrumb">
  <a href="/">Index</a>
  {% if page.url contains '/thonks/' %}
    &raquo; <a href="/thonks/">Thonks</a>
  {% elsif page.url contains '/stories/' %}
    &raquo; <a href="/stories/">Stories</a>
  {% endif %}
  {% if page.title %}
    &raquo; {{ page.title }}
  {% endif %}
</nav>

  <main>
    


    
    {{ content }}
    
  </main>
  <footer>
  <nav class="breadcrumb">
  <a href="/">Index</a>
  {% if page.url contains '/projects/' %}
    &raquo; <a href="/projects/">Projects</a>
  {% elsif page.url contains '/notes/' %}
    &raquo; <a href="/notes/">Notes</a>
  {% elsif page.url contains '/stories/' %}
    &raquo; <a href="/stories/">Stories</a>
  {% endif %}
  {% if page.title %}
    &raquo; {{ page.title }}
  {% endif %}
</nav>    <p>©URG</p>
  </footer>
</body>
</html>
